@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Hace que los links muevan la pagina más suave y padding deja una distancia para no tapar con el nav */
html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--altura);
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Variables */
:root {
  --primary-color: #000083;
  --secondary-color: #4a6cf7;
  --accent-color: #ffd700;
  --font-family: "funnel sans", sans-serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --transition: all 0.5s ease;
  --altura: 12rem;
}

/* Inicio de los estilos para toda la pagina completa */

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 1rem 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  justify-content: space-between;
}

.nav-titile {
  font-weight: 700;
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
  span {
    color: var(--secondary-color);
  }
  margin-left: 1rem;
}

.bar-nav a {
  font-size: 1.1rem;
  color: #676767;
  text-decoration: none;
  font-weight: 200;
  margin-left: 1.8rem;
  position: relative;
  margin-right: 1rem;
}

.Links-ref:after {
  /* El after es un elemento que se añade despues del elemento principal y este siempre sera hija del elemento al cual le realizamos el after */
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0%;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
  transition: var(--transition);
}

.Links-ref:hover::after {
  width: 100%;
}

.Links-ref:hover {
  color: black;
}

.icon-menu {
  font-size: 1.8rem;
  color: black;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 1rem;
}

.menu-toggle {
  display: none;
}

.Inicio {
  text-align: center;
  font-family: var(--font-family);
  width: 100%;
  background: linear-gradient(135deg, var(--secondary-color) 0%, #1c3177 50%, var(--primary-color));
  color: white;
  padding-top: 1.2rem;
  height: 33vh;
}

.Inicio h1 {
  font-size: 3rem;
}

.Inicio pre {
  font-size: 1rem;
}

.botones_cv {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.Ver_p {
  border: none;
  background-color: var(--secondary-color);
  color: white;
  padding: 0.7rem 1rem 0.7rem 1rem;
  border-radius: 0.2rem;
  text-align: center;
  font-weight: bold;
  box-shadow: var(--shadow);
  transition: var(--transition);
  text-decoration: none;
}

.Ver_p:hover {
  transform: translateY(-2px);
  background: inherit;
  border: var(--secondary-color) 2px solid;
  color: var(--secondary-color);
}

.Descargar_CV {
  border: none;
  background-color: inherit;
  color: var(--secondary-color);
  padding: 0.6rem 1rem 0.6rem 1rem;
  border: var(--secondary-color) 2px solid;
  border-radius: 0.2rem;
  text-align: center;
  font-weight: bold;
  box-shadow: var(--shadow);
  transition: var(--transition);
  text-decoration: none;
}

.Descargar_CV:hover {
  transform: translateY(-2px);
  background-color: var(--secondary-color);
  border: none;
  color: white;
}

.grid-sobre-mi {
  display: grid;
  width: 70%;
  height: auto;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-template-rows: repeat(1, minmax(300px, 1fr));
  gap: 1.5rem;
  margin: 0 auto;
}

.caja-s-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
}

.s-text {
  font-family: var(--font-family);
  text-align: center;
  margin-bottom: 1.5rem;
  position: relative;
  width: max-content;
}

.s-text:after {
  content: "";
  position: absolute;
  width: 70%;
  height: 3px;
  background-color: var(--accent-color);
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
}

.inf-s {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: start;
}

.inf-s-name {
  font-family: var(--font-family);
  font-size: 1.5rem;
  font-weight: bold;
}

.inf-s p {
  font-family: var(--font-family);
  text-align: justify;
  line-height: 1.5rem;
}

.btn-contacto {
  border: none;
  background-color: var(--secondary-color);
  color: white;
  padding: 0.7rem 1rem 0.7rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: bold;
  box-shadow: var(--shadow);
  transition: var(--transition);
  cursor: pointer;
  letter-spacing: 0.2rem;
  text-decoration: none;
}

.inf-img img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

.btn-contacto:hover {
  background: inherit;
  color: var(--secondary-color);
}

.Habilidades {
  background-color: #f5f5f5;
  padding: 4rem 0;
  text-align: center;
  height: max-content;
}

.h-text-box,
.p-text-box,
.c-text-box {
  width: max-content;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.h-text,
.p-text,
.c-text {
  font-family: var(--font-family);
  position: relative;
  letter-spacing: 0.1rem;
}

.h-text:after,
.p-text:after {
  content: "";
  position: absolute;
  width: 70%;
  height: 3px;
  background-color: var(--accent-color);
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.skills-flex,
.project-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.skill-card {
  background-color: white;
  width: 240px;
  height: 330px;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  transition: var(--transition);
  flex-wrap: wrap;
}

.skill-icon {
  font-size: 4rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
  transition: var(--transition);
  padding: 2rem 2rem 0 2rem;
}

.skill-title,
.project-title {
  font-family: var(--font-family);
  font-size: 1.5rem;
}

.skill-description {
  font-family: var(--font-family);
  text-align: center;
  padding: 0 1.5rem;
}

.skill-card:hover {
  .skill-icon {
    color: var(--accent-color);
  }
}

.mis-proyectos {
  padding: 4rem 0;
  text-align: center;
  height: max-content;
}

.project-card {
  background-color: white;
  width: 330px;
  height: 460px;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  transition: var(--transition);
  text-align: start;
}

.img-project img {
  width: 100%;
  height: 200px;
  border-radius: 1rem 1rem 0 0;
}

.project-title,
.project-description {
  text-align: start;
  margin-left: 1rem;
  font-family: var(--font-family);
}

.btn-details {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 1.1rem 2rem;
  border-radius: calc(100px / 2);
  margin-left: 1rem;
  margin-top: 1.5rem;
  transition: var(--transition);
  position: relative;
  text-decoration: none;
  font-family: var(--font-family);
}

.btn-details:hover {
  border-radius: 2rem 2rem 0rem 0rem;
}

.btn-details:hover:after {
  width: 100%;
  left: 0;
}

.btn-details:after {
  content: "";
  height: 5px;
  width: 0%;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -3px;
  left: 0%;
  transition: var(--transition);
}

.Contacto {
  background-color: #004683;
  height: max-content;
  width: 100%;
  color: white;
  font-family: var(--font-family);
  padding: 3rem 0;
  padding-bottom: 0.1rem;
}

.c-text:after {
  content: "";
  position: absolute;
  width: 70%;
  height: 3px;
  background-color: white;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.contact-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  margin: 0 auto;
  flex-wrap: wrap;
}

.email,
.tel,
.location {
  i {
    transition: var(--transition);
  }
}

.email:hover,
.tel:hover,
.location:hover {
  i {
    color: #ffd700;
  }
}

.contact-form form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

#u-name,
#u-email {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 200px;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
  transition: var(--transition);
}

#u-name:focus,
#u-email:focus {
  outline: 0;
  border-bottom: 2px var(--accent-color) solid;
}

#u-message {
  width: 200px;
  border: solid 2px #9e9e9e;
  border-radius: 80px;
  background: none;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 1rem;
  color: var(--accent-color);
  transition: var(--transition);
}

#u-message:focus {
  outline: none;
  border-radius: 0;
}

#btn-form {
  width: min-content;
  padding: 1.2rem 1.7rem;
  border-radius: 32px;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  letter-spacing: 0.1rem;
  transition: var(--transition);
}

#btn-form:hover {
  box-shadow: var(--shadow);
  transform: translateY(-2px);
}

.socials {
  text-align: center;
  width: max-content;
  margin: 0 auto;
  margin-top: 3rem;
}

.socials a {
  color: #f5f5f5;
}

.socials a i {
  margin: 2rem;
  font-size: 2rem;
  transition: var(--transition);
}

.socials a i:hover {
  transform: scale(2);
}

.important {
  width: 100%;
  text-align: center;
}

/* Apartado donde se agrega adaptabilidad a celulares */

@media (max-width: 768px) {
  .bar-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: var(--shadow);
    z-index: 999;
    flex-direction: column;
    padding: 1rem 0;
  }

  .menu-toggle:checked ~ .bar-nav {
    display: flex;
  }

  .icon-menu {
    display: inline-flex;
    position: absolute;
    right: 1rem;
    top: 1.2rem;
    z-index: 1001;
    cursor: pointer;
  }

  .header {
    position: sticky;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .bar-nav a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
  }

  .Inicio {
    h1 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1rem;
      text-align: center;
      line-height: 1.6;
    }
  }

  .grid-sobre-mi {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    grid-template-rows: repeat(2, minmax(300px, 1fr));
  }
}
